.userdata
  .userdata__title
    入力情報

  .userdata__name-tag
    名前
    .userdata__name-tag__data
      <名前を入力してください>

  .userdata__password-tag
    パスワード
    .userdata__password-tag__data
      <パスワードを入力してください>

  .userdata__age-tag
    年齢
    .userdata__age-tag__data
      <年齢を入力してください>歳

  .userdata__birthday-tag
    誕生日
    .userdata__birthday-tag__data
      <誕生日を入力してください>

  .userdata__sex-tag
    性別
    .userdata__sex-tag__data
      <性別を選択してください>