.language-selection
  .language-selection__box
    日本語

.title
  .title__phrase
    誰でもラクラク登録できる基本病歴情報（Stroke）

.login-box
  .login-box__nametitle
    名前
  .login-box__nameblank
    (名前を入力してください)

  .login-box__passwordtitle
    パスワード
  .login-box__passwordblank
    (パスワードを入力してください)

  .login-box__status
    = link_to "＜初めての方（新規登録）＞", new_user_registration_path, method: :get, class: "login-box__status__first-time"
    = link_to "＜２回目以降の方はこちら＞", user_session, method: :post, class: "login-box__status__registered-before"
     