.userdata {
  overflow: scroll;
  width: 100vw;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;

  &__title {
    background-color: forestgreen;
    font-size: 40px;
    font: bold;
    width: 20%;
    height: 60px;
    line-height: 60px;
    margin: 10px auto;
    border-radius: 10px 10px 10px 10px;
  }

  &__name-tag {
    background-color: rosybrown;
    font-size: 40px;
    width: 60%;
    margin: 20px auto;

    &__data {
     background-color: red;
     font-size: 40px;
     ;
   }
  }

  &__password-tag {
    background-color: rosybrown;
    font-size: 40px;
    width: 70%;
    margin: 20px auto;
    &__data {
      background-color: red;
      font-size: 40px;
    }
  }

  &__age-tag {
    background-color: rosybrown;
    font-size: 40px;
    width: 60%;
    margin: 20px auto;

    &__data {
      background-color: red;
      font-size: 40px;
    }
  }

  &__birthday-tag {
    background-color: rosybrown;
    font-size: 40px;
    width: 60%;
    margin: 20px auto;

    &__data {
      background-color: red;
      font-size: 40px;
    }
  }

  &__sex-tag {
    background-color: rosybrown;
    font-size: 40px;
    width: 60%;
    margin: 20px auto;

    &__data {
      background-color: red;
      font-size: 40px;
    }
  }
}
