.language-selection
  .language-selection__box
    日本語

.title
  .title__phrase
    誰でもラクラク登録できる基本病歴情報（Stroke）

.login-box
  .login-box__nametitle
    名前
  .login-box__nameblank
    (名前を入力してください)

  .login-box__passwordtitle
    パスワード
  .login-box__passwordblank
    (パスワードを入力してください)

  .login-box__status
    .login-box__status__first-time
      初めての方（新規登録）
    .login-box__status__registered-before
      ２回目以降の方はこちら