.selections
  .selections__title
    登録の方法をお選びください
  .selections__simple
    らくらく登録
  .selections__simple-explained
    飲み薬の詳細は登録しない方はこちら
  .selections__detail
    詳細登録
  .selections__detail-explained
    飲み薬の詳細も登録したい方はこちら
  