%p
  Hello #{@birthday}!
- if @resource.try(:unconfirmed_birthday?)
  %p
    We're contacting you to notify you that your birthday is being changed to #{@resource.unconfirmed_birthday}.
- else
  %p
    We're contacting you to notify you that your birthday has been changed to #{@resource.birthday}.
